.scrollPage {
  height: 220dvh;
  display: block;
  padding: var(--H-padding);
  color: var(--grey-700);
  font: var(--launcher-font);
  font-size: 32px;
  background-color: var(--grey-20);
}

.widgetFallback {
  text-align: center;
  user-select: none;
}

@media (max-width: 768px) {
  .widgetFallback {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 80dvw;
    bottom: 4dvh;
  }
}
