@import "./theme.css";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: var(--font-body, "Open Sans"), sans-serif;
  color: var(--grey-800);
  background: var(--white);
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
}
